<div class="outer">
  <div class="inner">
    <a href="post/{{ id }}"><h2>{{ title }}</h2></a>
     <h3>By {{ user.name }}</h3>
     <h4>On {{format createdAt}}</h4>
  </div>
  <div class="inner">
    <p class="text">{{ text }}</p>
  </div>
</div>  